{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content="IE=edge">
        <title>registration</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="stylesheet" type="text/css" href ="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}">
    

    </head>
    <body>
        <div class="global-container">
            <div class="card login-form">
            <div class="card-body">
                <h3 class="card-title text-center">Register</h3>
                <div class="card-text">
                    <!--
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
                    <form  method='POST'>
                        <!-- to error: add class "has-danger" -->
                        {% csrf_token %}
                        <h1>{{ event.title }}</h1>
                        <div class="form-group">
                            <label for="exampleInputEmail1">First Name</label>
                            <input  class="form-control form-control-sm" name="first_name" >
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Last Name</label>
                            
                            <input type="text" class="form-control form-control-sm" name="last_name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Email</label>
                            
                            <input type="text" class="form-control form-control-sm" name="email">
                        </div>
                       
                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                        
                        </div>
                    </form>
                </div>
            </div>
        </div>
        